.ipynb_checkpoints/test_notebook-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
__pycache__/charges.cpython-38.pyc
__pycache__/motion.cpython-38.pyc
__pycache__/projectiles.cpython-38.pyc
test_notebook.ipynb
test_file.py
notebooks/.ipynb_checkpoints/throwSimulation-checkpoint.ipynb
